<form action= "/set_up" method= "get">
  <input type= "submit" value= "Set Up">
</form>

<form action= "/tutorials" method= "get">
  <input type= "submit" value= "Tutorials">
</form>

<form action= "/sources" method= "get">
  <input type= "submit" value= "Sources">
</form>
