<!DOCTYPE html>
<html>
  <head>
    <title>Invading The Invaders</title>
    <link rel='stylesheet' href='https://bootswatch.com/readable/bootstrap.min.css'>
  </head>

  <body>
    <h1>Invading the Invaders</h1>
    <%= yield%>
  </body>
</html>
