<!DOCTYPE html>
<html>
  <head>
    <title>Invading The Invaders</title>
    <link rel='stylesheet' href='https://bootswatch.com/readable/bootstrap.min.css'>
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #C1C1C1;
      }

      li {
          float: left;
      }

      li a {
          font-family: helvetica;
          display: block;
          color: #393939;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover:not(.active) {
          background-color: #111;
      }

      .active {
          background-color: #4CAF50;
      }
    </style>
  </head>

  <body>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/set_up">Set Up</a></li>
      <!-- <li class='tutorials'><a href="tutorials">Tutorials</a></li> -->

      <li><a href="/tutorials" class="dropbtn">Tutorials</a></li>
      <li><a href="/tutorials/sprites">Sprites</a></li>
      <li><a href="/tutorials/colour">Colour</a></li>

      <li><a href="/sources">Sources</a></li>
      <li><a href="/your_hacks">Your Hacks</a></li>
      <li><a href="/about_us">About Us</a></li>
    </ul>

    <h1>Invading the Invaders</h1>
    <%= yield%>
  </body>
</html>
