<h1> Tutorials </h1>

<form action= "/tutorials/colour" method= "get">
  <input type= "submit" value= "Change Colour">
</form>

<form action= "/tutorials/sprites" method= "get">
  <input type= "submit" value= "Change Sprites">
</form>
